<template>
  <v-container
    fluid
  >
    <v-layout>
      <v-flex>
        <v-row>
          <v-col
            cols="12"
            xs="12"
          >
            <v-card
              pa-2
            >
              <v-card-title
                class="justify-space-between"
              >
                <span class="display-1">
                  Таблица!!!
                </span>
                <div>
                  <v-btn
                    color="primary"
                    rounded
                    class="mr-2"
                    to="/add-event"
                  >
                    <v-icon left>mdi-plus-circle</v-icon>
                    Добавить
                  </v-btn>
                  <v-btn
                    color="error"
                    class="ml-2"
                    rounded
                    :disabled="!selected.length"
                    @click="deleteProduct"
                  >
                    <v-icon left>mdi-delete</v-icon>
                    Удалить
                  </v-btn>
                </div>
              </v-card-title>
              <v-card-text>
                <v-data-table
                  v-model="selected"
                  :items="getDesert"
                  item-key="_id"
                  class="elevation-1"
                  :headers="headers"
                  show-select
                >
                  <template
                    v-slot:items="props"
                  >
                    <td>
                      <v-checkbox
                        primary
                        v-model="props.selected"
                        :input-value="props.item._id"
                      ></v-checkbox>
                    </td>
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.address }}</td>
                  </template>
                  <template v-slot:item.edit="{ item }">
                    <v-btn
                      fab
                      color="error"
                      small
                      :id="item._id"
                      :to="`/edit/${ item._id }`"
                    >
                      <v-icon>mdi-square-edit-outline</v-icon>
                    </v-btn>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-flex>
      <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="multiLine"
        :timeout="timeout"
      >
        {{ text }}
        <v-btn
          dark
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data: () => ({
    color: 'error',
    timeout: 3000,
    text: '',
    multiLine: true,
    snackbar: false,
    selected: [],
    headers: [
      {
        text: 'Мероприятие',
        value: 'title',
        align: 'left',
        sortable: false,
      },
      {
        text: 'Адрес',
        value: 'address',
        align: 'left',
        sortable: false,
      },
      {
        text: 'Редактировать',
        value: 'edit',
        align: 'left',
        sortable: false,
      },
    ],
  }),
  computed: {
    ...mapGetters(['getDesert']),
  },
  mounted() {
    this.getEvents();
  },
  methods: {
    ...mapActions(['getEvents', 'destroyEvents']),
    async deleteProduct() {
      const selected = this.selected.map(item => item.id);
      await this.destroyEvents({ id: selected })
        .catch((e) => {
          this.snackbar = true;
          this.text = e.message;
        });
      await this.getEvents();
      this.selected = [];
    },
  },
};
</script>
