<template>
  <v-container
    class="full-height d-flex"
    align-center
    justify-center
    fluid
  >
    <v-layout>
      <v-flex>
        <v-form
          ref="form"
          v-model="valid"
        >
          <h1
            class="text-xs-center py-2 centered-text"
          >
            Авторизуйтесь
          </h1>
          <v-container>
            <v-row>

              <v-col
                md="6"
                offset-md="3"
              >
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>
              </v-col>

              <v-col
                md="6"
                offset-md="3"
              >
                <v-text-field
                  v-model="password"
                  :counter="6"
                  :rules="passwordRules"
                  type="password"
                  label="Пароль"
                  required
                ></v-text-field>
              </v-col>

              <v-col
                md="6"
                offset-md="3"
              >
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4 m-auto"
                  @click="submit"
                >
                  Submit
                </v-btn>
              </v-col>

            </v-row>
          </v-container>
        </v-form>
      </v-flex>
    </v-layout>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :multi-line="multiLine"
      :timeout="timeout"
    >
      {{ text }}
      <v-btn
        dark
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import Token from '../services/token/index';

export default {
  name: 'Login',
  data() {
    return {
      color: 'error',
      timeout: 3000,
      text: '',
      multiLine: true,
      snackbar: false,
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'Введите Ваш email',
        v => /.+@.+\..+/.test(v) || 'E-mail должен быть валидным',
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Введите пароль',
        v => (v && v.length >= 6) || 'Пароль должен содержать более 6 символов',
      ],
    };
  },
  methods: {
    async submit() {
      try {
        const { email, password } = this;
        const result = await axios
          .post('https://api-staging.shevet.online/api/v1/login', {
            email,
            password,
          });

        Token.setToken(result.data.token);
        await this.$router.push('/');
      } catch (err) {
        console.log(err.message);
        this.snackbar = true;
        this.text = err.message || 'Ошибка';
      }
    },
  },
};
</script>

<style scoped>
  .centered-text {
    text-align: center;
  }
</style>
