<template>
  <v-container
    fluid
  >
    <v-layout
      justify-center
    >
      <v-flex>
        <h2
          class="display-1 ml-3"
        >
          {{ isNew ? 'Добавить мероприятие' : 'Редактировать' }}
        </h2>
        <v-layout>
          <v-col
            xs="12"
            md="6"
          >
            <v-text-field
              v-model="event.title"
              :label="label"
              :clearable="clearable"
              :hint="hint"
              :persistent-hint="persistent"
              :loading="loading"
            >
            </v-text-field>
          </v-col>
          <v-col
            xs="12"
            md="6"
          >
            <v-text-field
              v-model="event.address"
              :label="labelAddress"
              :clearable="clearable"
              :hint="hintAddress"
              :persistent-hint="persistent"
              :loading="loading"
            >
            </v-text-field>
          </v-col>
        </v-layout>
        <v-layout>
          <v-btn
            v-if="isNew"
            class="mt-3 ml-3 success"
            @click="published"
          >
            Опубликовать
          </v-btn>
          <v-btn
            v-else
            class="mt-3 ml-3 error"
            @click="edit"
          >
            Редактировать
          </v-btn>
        </v-layout>
      </v-flex>
      <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="multiLine"
        :timeout="timeout"
      >
        {{ text }}
        <v-btn
          dark
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: ['id'],
  data() {
    return {
      event: {
        title: '',
        address: '',
      },
      label: 'Мероприятие',
      labelAddress: 'Адресс',
      clearable: true,
      persistent: true,
      hint: 'Введите название мероприятия',
      hintAddress: 'Введите адрес мероприятия',
      loading: false,
      color: 'error',
      timeout: 3000,
      text: '',
      multiLine: true,
      snackbar: false,
      isNew: true,
    };
  },
  computed: {
    ...mapState(['deserts']),
  },
  async mounted() {
    if (this.$route.path.startsWith('/edit')) {
      this.isNew = false;
      await this.indexEvent({ id: this.id });
      this.event = {
        ...this.event,
        ...this.deserts.eventItem,
      };
    }
  },
  methods: {
    ...mapActions(['createEvents', 'indexEvent', 'editEvent']),
    published() {
      this.createEvents(this.event)
        .then(() => {
          this.snackbar = true;
          this.color = 'success';
          this.text = 'Успешно опубликовано!';

          setTimeout(() => {
            this.$router.push('/');
          }, 1000);
        })
        .catch((err) => {
          this.snackbar = true;
          this.text = err || 'Ошибка';
        });
    },
    edit() {
      this.editEvent({
        event: this.event,
        id: this.id,
      })
        .then(() => {
          this.snackbar = true;
          this.color = 'success';
          this.text = 'Отредактировано!';

          setTimeout(() => {
            this.$router.push('/');
          }, 1000);
        })
        .catch((err) => {
          this.snackbar = true;
          this.text = err || 'Ошибка';
        });
    },
  },
};
</script>
