<template>
  <v-container id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in navigation"
          :key="i"
          :to="item.to"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="blue"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <div class="d-flex justify-space-between align-center" style="width: 100%">
        <v-toolbar-title>Панель администратора</v-toolbar-title>
          <v-btn
            text
            color="white"
            @click="logout"
          >
            <v-icon left>mdi-exit-to-app</v-icon>
            Выход
          </v-btn>
      </div>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer
      color="blue"
      app
    >
      <span class="white--text text-center">&copy; 2019</span>
    </v-footer>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AppLayout',
  data: () => ({
    drawer: null,
    navigation: [
      {
        name: 'Главная',
        to: '/',
        icon: 'mdi-home',
      },
      {
        name: 'Не главная',
        to: '/not-main',
        icon: 'mdi-bacteria-outline',
      },
    ],
  }),
  methods: {
    ...mapActions(['authLogout']),
    logout() {
      this.authLogout()
        .then(() => {
          this.$router.push('/login');
        });
    },
  },
};
</script>
