<template>
  <v-container
    fill-height
    fluid
  >
    <v-layout>
      <v-flex>
        <slot></slot>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'LoginLayout',
};
</script>
